{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid" style="margin-top: 55px;">
    <ul class="nav nav-tabs " style="margin-top: 55px ; background: #e3f2fd;" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="entradas-tab" data-bs-toggle="tab" data-bs-target="#entradas" type="button" role="tab" aria-controls="entradas" aria-selected="true">Entradas</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="fuertes-tab" data-bs-toggle="tab" data-bs-target="#fuertes" type="button" role="tab" aria-controls="fuertes" aria-selected="false">Platos fuertes</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="bebidas-tab" data-bs-toggle="tab" data-bs-target="#bebidas" type="button" role="tab" aria-controls="bebidas" aria-selected="false">Bebidas</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="licores-tab" data-bs-toggle="tab" data-bs-target="#licores" type="button" role="tab" aria-controls="licores" aria-selected="false">Licores</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="promociones-tab" data-bs-toggle="tab" data-bs-target="#promociones" type="button" role="tab" aria-controls="promociones" aria-selected="false">Promociones</button>
          </li>
        
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="entradas" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            {{ include("productos/productos.html", {'productos': entradas}) }}
        </div>
        <div class="tab-pane fade" id="fuertes" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            {{ include("productos/productos.html", {'productos': fuertes}) }}
        </div>
        <div class="tab-pane fade" id="bebidas" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
            {{ include("productos/productos.html", {'productos': bebidas}) }}
        </div>
        <div class="tab-pane fade" id="licores" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
            {{ include("productos/productos.html", {'productos': licores}) }}
        </div>
        <div class="tab-pane fade" id="promociones" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">
            {{ include("productos/productos.html", {'productos': promociones}) }}
        </div>
      </div>

</div>





{% endblock %}
{% block javascript %}
<!--AGREGAR PRODUCTOS AL CARRITO-->
<script>
//agregar función de popover
$(function () {
  $('[data-toggle="popover"]').popover()
})

    var productosCarrito = [];
    setNItems();
    function setNItems(){
        let n = productosCarrito.length;
        $("#nItems").text(`${n}`);
    }
    function agregarProducto(jsonData){
        let productoData;
        try{
            productoData  = JSON.parse(jsonData);
        }catch{
            productoData = jsonData;
        }
        
        let exist = productosCarrito.find(p => p.id == productoData.id);
        
        if(typeof exist != 'undefined'){
            exist.cantidad++;
        }else{            
            productoData.cantidad = 1;
            productosCarrito.push(productoData);
        }                
        setNItems();
        actualizarVistaCarrito();
    }
    function quitarProducto(productoData){
        
        let exist = productosCarrito.find(p => p.id == productoData.id);
        if(typeof exist != 'undefined'){
            if(exist.cantidad > 1){
                exist.cantidad--;
            }else{
                productosCarrito = productosCarrito.filter(p => p.id != productoData.id);
            }            
        }                
        setNItems();
        actualizarVistaCarrito();
    }
    function setCookies(){
        var cookieName = 'HelloWorld';
        var cookieValue = 'HelloWorld';
        var myDate = new Date();
        myDate.setMonth(myDate.getMonth() + 12);
        document.cookie = cookieName +"=" + cookieValue + ";expires=" + myDate + ";domain=.example.com;path=/";
    }
    
</script>
<!--FIN AGREGAR PRODUCTOS AL CARRITO-->

<!--MOSTRAR PRODUCTOS DEL CARRITO-->
<script>
    let cliente=9999999999;


    function actualizarVistaCarrito(){
        
        $html = '';
        productosCarrito.forEach(p => {
            $html += 
                `<li class="list-group-item">
                    <div class="row">
                        <div class="col-2">
                            <b>${p.cantidad}</b>
                        </div>
                        <div class="col-6">
                            ${p.nombre}
                        </div>
                        <div class="col-4">
                            <button class="btn btn-sm btn-danger" onclick='quitarProducto(${JSON.stringify(p)})'><i class="fa fa-minus"></i></button>
                            <button class="btn btn-sm btn-success" onclick='agregarProducto(${JSON.stringify(p)})'><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                </li>`;
        })
        $('#listaProductos').html($html);
        actualizarTotalCarrito();
    }

     function actualizarTotalCarrito(){
        let total = productosCarrito.reduce((prev, curr)=>{
            return prev + curr.cantidad*curr.precio
        },0)
        $("#totalCarrito").text(`${total.toFixed(2)}`);
     }

        $("#btnConfirmarOrden").click(function(){
        const bCompletoC=document.getElementById("pedidoCompleto");
        const bCompletoE=document.getElementById("pedidoIncompleto");
        bCompletoC.style.display="none";
        bCompletoE.style.display="none";
        console.log(cliente);
        let observaciones = $("#observaciones").val();
        let token = $("#tokenMesa").val();
        let orden = {
            productos: productosCarrito,
            observaciones: observaciones,
            token: token,
            id_cliente: cliente
        };
        let url = '/orden';
        let method = 'post';

        $.ajax({
            url: url,
            method: method,
            data: JSON.stringify(orden),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success: function(data){
                console.log(data);
                bCompletoE.style.display="none";
                bCompletoC.style.display="block";
                
                

            },         
            error: function(err){
                console.log(err);
                bCompletoE.style.display="block";
            }
        })
    })

    $("#btnSiguiente").click(function(){
        const idCl=document.getElementById("idCliente");
        getClienteId(idCl.value);
    
    })


    function getClienteId(cedula) {
          const requestData={
            ci:cedula
          }
          $.ajax({
            
              url: '/cliente/buscar',
              method: 'post',
              data:JSON.stringify(requestData),

                success: function(data){
                console.log(`${data.nombAp}, ${data.id}`);
                cliente=data.id;
              },
               error: function(err){
                console.log(err)
                cliente=1;
                

               }
          })
        
          }   
</script>
<!--FIN MOSTRAR PRODUCTOS DEL CARRITO-->
{% endblock %}