{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid mt-4" id="app">
        <div class="row">
            <div class="col-xl-3">
                <div class="container-fluid" id="mesas">
                    
                </div>
            </div>
            <div class="col">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pendientes-tab" data-bs-toggle="tab" data-bs-target="#pendientes" type="button" role="tab" aria-controls="pendientes" aria-selected="true">Pendientes</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="atendidos-tab" data-bs-toggle="tab" data-bs-target="#atendidos" type="button" role="tab" aria-controls="atendidos" aria-selected="false">Atendidos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="cancelados-tab" data-bs-toggle="tab" data-bs-target="#cancelados" type="button" role="tab" aria-controls="cancelados" aria-selected="false">Cancelados</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="prediccion-tab" data-bs-toggle="tab" data-bs-target="#prediccion" type="button" role="tab" aria-controls="prediccion" aria-selected="false">Predicción</button>
                      </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                    
                    <div class="tab-pane fade show active" id="pendientes" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        {{ include("compra/tabla_pedidos.html", {'pedidos': pendientes, 'tipo': 'Pendientes'}) }}
                    </div>
                    <div class="tab-pane fade" id="atendidos" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        {{ include("compra/tabla_pedidos.html", {'pedidos': atendidos, 'tipo': 'Atendidos'}) }}
                    </div>
                    <div class="tab-pane fade" id="cancelados" role="tabpanel" tabindex="0">
                        {{ include("compra/tabla_pedidos.html", {'pedidos': cancelados, 'tipo': 'Cancelados'}) }}
                    </div>
                    <div class="tab-pane fade" id="prediccion" role="tabpanel" tabindex="0">
                        <table class="table table-stripped">
                            <thead>
                                <th>Producto</th>
                                <th>Cantidad</th>
                            </thead>
                            <tbody id="predicciones">

                            </tbody>
                        </table>
                    </div>
                  </div>
        
            </div>
        </div>
        
        

    </div>
{% endblock %}
{% block javascript %}
<script>
    let update = false;
    let id = null;
    
    function getMesas() {
        $.ajax({
            
            url: '/mesa/list',
            method: 'get',
            success: function(data){
                const mesas = Array.from(data.mesas);
                mesas.forEach(i => {
                    let strdata = JSON.stringify(i);
                    let html = `<div class="card mt-1 ${i.alerta == "0" ? "bg-success": "bg-danger"}" id="mesa_${i.id}">
                                    <div class="card-body p-5">
                                        <h1 class="text-light">${i.codigo}</h1>
                                        <p>${i.descripcion}</p>                           
                                    </div>
                                </div>`;
                    $("#mesas").append(html);
                })
                
            },
            error: function(err){
                console.log(err)
            }
        })
        
    }
    
    getMesas();
</script>
<script>
    var isGranted = false;
    var connected = false;

    Notification.requestPermission().then((result) => {
        if(result === 'granted') isGranted = true;
        
    });
    
    var conn = new WebSocket('ws://192.168.1.123:8282');
    var client = {
        user_id: 1,
        recipient_id: null,
        type: 'socket',
        token: null,
        message: null
    };

    conn.onopen = function (e) {
        conn.send(JSON.stringify(client));
        showNotification('Info', 'Conectado a las alertas en tiempo real')
    };

    conn.onmessage = function (e) {
        
        var data = JSON.parse(e.data);
        if (data.type === 'token') {
            $('#token').html('JWT Token : ' + data.token);
        }
        if(data.type === 'chat' ){
            console.log(data)
            const action = data.action ;
            if(action == 'A'){
                const msg = JSON.parse(data.message) ;
                const cssClass =  msg.alerta == "0" ? "bg-success": "bg-danger";
                const removeClass = msg.alerta == "1" ? "bg-success": "bg-danger";
                const text =  msg.alerta == "0" ? "¡Mesa atendida!": "¡Una mesa requiere ayuda!";
                $(`#mesa_${msg.mesa_id}`).removeClass(removeClass);
                $(`#mesa_${msg.mesa_id}`).addClass(cssClass);
                showNotification("Alerta !", text);
            }
            if(action == 'P'){
                const msg = JSON.parse(data.message) ;
                const text =  "¡Ah llegado un nuevo pedido!";
                showNotification("Alerta !", text);
                location.reload();
            }
            if(action == 'R'){
                const msg = JSON.parse(data.message) ;
                const text =  "¡Pedido Recibido!";
                showNotification("Alerta !", text);
                location.reload();
            }
            
        }
    };

    $('#submit').click(function () {
        client.message = $('#text').val();
        client.token = $('#token').text().split(': ')[1];
        client.type = 'chat';
        if ($('#recipient_id').val()) {
            client.recipient_id = $('#recipient_id').val();
        }
        $('#token').empty();
        $('#recipient_id').empty();
        conn.send(JSON.stringify(client));
    });
    function showNotification(title, msg){
        if(isGranted){
            const text = msg;
            const notification = new Notification(title, { body: text });
        }else{
            //alert(msg)
        }
    }
    function reducirTiempo(){
        setTimeout(()=>{
            var tiempos = $(".tiempo");
            //var t = tiempos.text();
            const elements = Array.from(tiempos)                        
            elements.forEach(tiempo => {
                var t  = Number(tiempo.innerText);
                t++;
                tiempo.innerText = t.toString();
            })
            reducirTiempo();
            
        }, 1000)
    }
    reducirTiempo();
</script> 
<script src="/js/tf.min.js"></script>
<script type="text/javascript">
    
    var modelo = null;
    var ventas = [];
    //Cargar modelo
    (async () => {
        console.log("Cargando modelo...");
        modelo = await tf.loadLayersModel("/model.json");
        console.log("Modelo cargado...");
    })();

    function predecirVentas(data) {
      if (modelo != null) {
        
        var tensor = tf.tensor2d([data]);
        var prediccion = modelo.predict(tensor).dataSync();
        prediccion = prediccion.map(p => {
            if(p< 0) p = 0;
            else p = Math.ceil(p, 0);
            return p;
        });
        
        
        ventas = Array.from(prediccion).map((p, index) => {
            const producto = productos.filter( producto => producto.codigo == index + 1)[0];
            producto.ventas = p;
            if(p > 0){
                let html = `<tr>
                    <td>${producto.nombre}</td>
                    <td>${producto.ventas}</td>
                </tr>`
                $("#predicciones").append(html);
            }
            return producto;
        })
        console.log(ventas);
        
        
        //prediccion = Math.round(prediccion, 1);
        //document.getElementById("resultado").innerHTML = celsius + " celsius son " + prediccion + " fahrenheit!";
      } else {
        console.log("Intenta de nuevo en un momento...");
      }
    }
    function obtenerDatos(){
        $.ajax({
            url: '/admin/resumen',
            method: 'GET',
            success: function(data){
                const jsonData = JSON.parse(data);
                console.log(jsonData)
                setTimeout(()=>{
                    predecirVentas(jsonData);
                }, 1000)
            },
            error: function(err){
                console.log(err)
            }
          })
        
        $.ajax({
            url: '/producto',
            method: 'GET',
            success: function(data){
                productos = data;
            },
            error: function(err){
                console.log(err)
            }
        })
    }
    var productos = null;
    
    obtenerDatos();
  </script>
{% endblock %}
