<div class="card mb-3">
    <div class="card-header bg-primary text-light">
        <h5 class="card-title">Gestion de pedidos {{tipo}}</h5>
    </div>
    <div class="card-body">
        <div class="row mt-2">

            <div class="col">
                <div class="table-responsive-md">
                    <table class="table table-hover">
                        <thead class="bg-black text-light p-1">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Tiempo</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Mesa</th>
                            <th scope="col">Total</th>
                            <th scope="col">Observaciones</th>
                            <th scope="col">Acciones</th>
                            
                        </tr>
                        </thead>
                        <tbody id="tpedidos">
                            {% for p in pedidos %}
                            {% set color = 'bg-default'%}
                            {% if p.estado == 'X' %}
                                {% set color = 'bg-warning'%}
                            {% elseif p.estado == 'O' %}
                                {% set color = 'bg-success text-light'%}
                            {% endif %}
                            <tr class="{{color}}">
                                <td>{{p.id}}</td>
                                <td><span class="tiempo">{{p.tiempo}}</span></td>
                                <td>{{p.fecha}}</td>
                                <td>{{p.codigo}}</td>
                                <td>{{p.total}}</td>
                                <td>{{p.observaciones}}</td>
                                <td>
                                    {% if p.estado == 'P' %}
                                    <a class="btn btn-sm btn-warning" href="/admin/procesar/{{p.id}}">Procesar</a> 
                                    {% elseif p.estado == 'X' %}
                                    <a class="btn btn-sm btn-success"  href="/admin/despachar/{{p.id}}">Despachar</a>
                                    {% endif %}
                                    <a class="btn btn-sm btn-danger" href="/admin/cancelar/{{p.id}}">Cancelar</a>
                                    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#pedido_{{p.id}}">Ver</button>
                                    {{include('compra/ver_pedido.html', {'pedido': p })}}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

